.about {
    background-color: $backg-color1;
    padding: $padding;
    .wrapper {
      display: flex;
      .text-about {
          max-width: 700px;
          text-align: center;
          padding: $padding;
          p {
            text-align: justify;
            padding-bottom: 1em;
            line-height: 1.4em;
          }
        }
      .video-wrapper {
          position: relative;
          padding-bottom: 33.25%;
          overflow: hidden;
          align-self: center;
          flex: 2 0 55%;
          margin: 1.4em 0;
          iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
          }
      } 
    }
  }
  