header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: $padding;
    background-color: $backg-csolor2;
    height: 120px;
    -webkit-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
      .brand-logo img {
          width: auto;
          padding-top: 20px;
          height: 7.5em;
      }
      .title {
          display: flex;
          align-items: center;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding-bottom: 1em;
          .title-right {
              justify-content: flex-end;
            }
        }
        /*      dit doet volgens mij helemaal niets
        .line {
          width: 3em;
          height: 1px;
          background-color: #000;
          margin-right: 1em;
          .line-right {
              order: 2;
              margin-right: 0;
              margin-left: 1em;
            }
        } */
  }
